<!-- Start Portfolio-->

.portfolio_page
    .container
        .portfolio_in
            .title.wow.fadeInUp(data-wow-delay='.2s') Portfolio
            .subtitle Our mission: to make sure you are part of the very best on the web.
            .blocks_wrapp.wow.fadeInUp(data-wow-delay='.2s')
                .block
                    img.block_img(src='img/contest/portfolio_1.jpg')
                    .block_info
                        .block_title(href='#') Website Title
                            a.block_link(href='#')
                                i.fa.fa-link
                        .bottom
                            .bottom_left Social Media Strategy, Website
                            .bottom_right 2019


                .block
                    img.block_img(src='img/contest/portfolio_2.jpg')
                    .block_info
                        .block_title(href='#') Website Title
                            a.block_link(href='#')
                                i.fa.fa-link
                        .bottom
                            .bottom_left Social Media Strategy, Website
                            .bottom_right 2019
                .block
                    img.block_img(src='img/contest/portfolio_3.jpg')
                    .block_info
                        .block_title(href='#') Website Title
                            a.block_link(href='#')
                                i.fa.fa-link
                        .bottom
                            .bottom_left Social Media Strategy, Website
                            .bottom_right 2019
                .block
                    img.block_img(src='img/contest/portfolio_4.jpg')
                    .block_info
                        .block_title(href='#') Website Title
                            a.block_link(href='#')
                                i.fa.fa-link
                        .bottom
                            .bottom_left Social Media Strategy, Website
                            .bottom_right 2019
                .block
                    img.block_img(src='img/contest/portfolio_5.jpg')
                    .block_info
                        .block_title(href='#') Website Title
                            a.block_link(href='#')
                                i.fa.fa-link
                        .bottom
                            .bottom_left Social Media Strategy, Website
                            .bottom_right 2019
                .block
                    img.block_img(src='img/contest/portfolio_6.jpg')
                    .block_info
                        .block_title(href='#') Website Title
                            a.block_link(href='#')
                                i.fa.fa-link
                        .bottom
                            .bottom_left Social Media Strategy, Website
                            .bottom_right 2019
            .blocks_btn
                a.btn.accent(href='#')
                    | Show More

<!-- End Portfolio-->
