<!-- Start News-->

.news
    .container
        .title.wow.fadeInUp(data-wow-delay='.2s') News
        .row.news-content
            .col-lg-6.col-md-12.col-sm-12
                .news-content_left.wow.fadeInLeft(data-wow-delay='.2s')
                    .news-content_info(data-image='img/contest/slide4.jpg')
                        a.news-content_title(href='#') HTML and CSS
                        .news-content_text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Quoniam igitur, ut medicina valitudinis, navigationis gubernatio, sic vivendi ars est prudente, necesse est eam quoque ab aliqua re esse constitutam et profectam. Illud mihi a te nimium festinanter dictum videtur, sapientis omnis esse semper beatos; Nondum autem explanatum satis, erat, quid maxime natura vellet. Atque hoc dabitis, ut...
            .col-lg-6.col-md-12.col-sm-12
                .news-content_right.wow.fadeInRight(data-wow-delay='.2s')
                    .news-post
                        a.news-content_title(href='#') HTML and CSS
                        .content_text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fortitudinis quaedam praecepta sunt ac paene leges,...
                    .news-post
                        a.news-content_title(href='#') Template Millennium
                        .content_text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fadio Gallo, cuius in testamento scriptum esset...
                    .news-post
                        a.news-content_title(href='#') Blog Headline
                        .content_text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat aequius Triarium aliquid de dissensione...

<!-- End News-->
