<!-- Start Services-->

.services_block
    .container
        .title.wow.fadeInUp(data-wow-delay='.2s') Services
        .row
            .col-lg-4.col-md-6.col-sm-12
                .services-block.wow.fadeInUp(data-wow-delay='.2s')
                    .services-block_title
                        .first_leter.accent G
                            //.icon
                            //    i.pe-7s-browser
                        .text
                            |Graphic
                            br
                            |Design
                    .services-block_content
                        | Lorem ipsum dolor sit amet, consectetur adipisicing
                        | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .col-lg-4.col-md-6.col-sm-12
                .services-block.wow.fadeInUp(data-wow-delay='.2s')
                    .services-block_title
                        .first_leter.accent W
                        .text
                            | Web
                            br
                            | Development
                    .services-block_content
                        | Lorem ipsum dolor sit amet, consectetur adipisicing
                        | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .col-lg-4.col-md-6.col-sm-12
                .services-block.wow.fadeInUp(data-wow-delay='.2s')
                    .services-block_title
                        .first_leter.accent B
                        .text
                            | Brand
                            br
                            | Identity

                    .services-block_content
                        | Lorem ipsum dolor sit amet, consectetur adipisicing
                        | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .col-lg-4.col-md-6.col-sm-12
                .services-block.wow.fadeInUp(data-wow-delay='.2s')
                    .services-block_title
                        .first_leter.accent L
                        .text
                            | Logo
                            br
                            | Design
                    .services-block_content
                        | Lorem ipsum dolor sit amet, consectetur adipisicing
                        | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .col-lg-4.col-md-6.col-sm-12
                .services-block.wow.fadeInUp(data-wow-delay='.2s')
                    .services-block_title
                        .first_leter.accent C
                        .text
                            | Consultancy
                            //br
                            //| Design
                    .services-block_content
                        | Lorem ipsum dolor sit amet, consectetur adipisicing
                        | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .col-lg-4.col-md-6.col-sm-12
                .services-block.wow.fadeInUp(data-wow-delay='.2s')
                    .services-block_title
                        .first_leter.accent S
                        .text
                            | SEO
                            br
                            | Service
                    .services-block_content
                        | Lorem ipsum dolor sit amet, consectetur adipisicing
                        | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


<!-- End Services-->
