<!-- Start Reviews-->
.reviews
    .container
        .title.wow.fadeInUp(data-wow-delay='.2s') Our clients’ reviews
        #slider-reviews.owl-carousel.owl-theme.wow.fadeInLeft(data-wow-delay='.2s')
            .item
                .reviews-comment
                    .p “Original, creative and with an innate understanding of their customer’s needs, the team at  Millennium are always a pleasure to work with.”
                    .reviews_name Nick Cave / Elysmod.
            .item
                .reviews-comment
                    .p "This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, Mirax is my number one choice!"
                    .reviews_name Yulia Pong / Manager.
            .item
                .reviews-comment
                    .p "Since I’m not a real pro in web design, I love to use these ready-made and beautifully looking templates. They are available at very affordable prices and they save you a lot of time, and deliver from a lot of sweat and tears!"
                    .reviews_name Kate Smith / Seller.
        #pagination
            .pagination.accent_text
                span.counter_this
                span /
                span.counter_total
<!-- End Reviews-->