<!-- Start Price-->

.price
    .container
        .title.wow.fadeInUp(data-wow-delay='.2s') Pricing Plan

        .price_wrap.wow.fadeInUp(data-wow-delay='.2s')
            .price_block
                .price_title.accent_text FREE
                .price_block_cost
                    span $0.00
                    | /month
                .price_block_string
                    p 10 GB Hosting
                    p 2+ Free Domain
                    p 100+ Email Account
                    p 24/7 Online Support
                a.btn.accent(href='#') Get in Touch
            .price_block
                .price_title.accent_text Basic
                .price_block_cost
                    span $30.00
                    | /month
                .price_block_string
                    p 10 GB Hosting
                    p 6+ Free Domain
                    p 100+ Email Account
                    p 24/7 Online Support
                a.btn.accent(href='#') Get in Touch
            .price_block
                .price_title.accent_text Premium
                .price_block_cost
                    span $90.00
                    | /year
                .price_block_string
                    p 10 GB Hosting
                    p 12+ Free Domain
                    p 100+ Email Account
                    p 24/7 Online Support
                a.btn.accent(href='#') Get in Touch


<!-- End Price-->