/* Section Price */
@import "../../../sass/vars";
@import "../../../sass/mixins";

.price {
  padding: 110px 0;
  position: relative;
  @media #{$mediaMedium}{
    padding: 60px 0;
  }
  .price_in {
    display: flex;
  }
  .container {
    position: relative;
  }
  .title {
    text-align: center;
    padding: 0 0 60px;
    @media #{$mediaMedium}{
      padding: 0 0 30px;
    }
  }

}

.price_right {
  display: flex;
}

.price_block {
  text-align: center;
  border: 1px $accent solid;
  width: 300px;
  padding-bottom: 60px;
  z-index: 5;
  position: relative;
  transition: 0.3s;
  margin: 15px;

  &:hover {
    margin-top: -10px;
  }

  @media #{$mediaSmall} {
    max-width: 100%;
    &:hover {
      margin-top: 15px;
    }
  }

  .price_title {
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 30px;
    @media #{$mediaMedium} {
      display: block;
      padding: 30px 0 !important;
    }
  }
  .price_block_cost {
    font-size: 16px;
    font-family: $default-font;
    line-height: 1;
    margin-bottom: 47px;
    span {
      font-size: 40px;
      font-weight: 500;
      padding-right: 5px;
    }
  }
  .price_block_string p {
    font-size: 14px;
    font-family: $default-font;
    line-height: 1;
    padding-bottom: 26px;
  }
  .btn {
    margin: 15px auto 0;
  }
}

.price_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}