<!-- Start About-->
.about
    .container
        .about_in
            .about_left.accent.wow.fadeInLeft(data-wow-delay='.2s')
                .title About Us
                .content
                    | We are a team of professional, energetic individuals with talented designers and experienced managers available to guide our clients through the flawless and timely execution of any web design project. Since day one, we have been delivering creative and unique websites to our clients worldwide.
                    | We are a team of professional, energetic individuals with talented designers and experienced managers available to guide our clients through the flawless and timely execution of any web design project. Since day one, we have been delivering creative and unique websites to our clients worldwide.
            .about_right.wow.fadeInRight(data-wow-delay='.2s')
                .about_img(data-image='img/contest/about_img_3.jpg')
<!-- End About-->
