// Start Slider Top

.slider
    #owl-slider-2.owl-carousel.owl-theme
        .item
            #video-slider(data-opacity-scroll='true' )
                .video_slide
                #videoBg.mb_YTPlayer.isMuted(data-property="{videoURL:'https://www.youtube.com/watch?v=CP5jfYFPG-4',containment:'.video_slide', showControls:false, autoPlay:true, loop:true, mute:true}")

                .slider_info
                    .slider_info_in
                        .slider_info_title
                            h2.slider_title Millennium
                        .slider_info_content
                            p
                                | Millennium - the perfect template for your project.
                                | This theme is suitable for multi-use. It is ideal for creative and web agencies, for personal portfolios and startups. Simple and stylish design attracts the attention of buyers.
                        .slider_info_more
                            a.btn.accent(href='#')
                                | Read More
                .slider_slide.pattern_bg.dark_bg
        .item
            .slider_info
                .slider_info_in
                    .slider_info_title
                        h2.slider_title Welcome to Millennium
                    .slider_info_content
                        p
                            | Millennium - Creative Responsive Minimalistic HTML5 Website Template
                    .slider_info_more
                        a.btn.accent(href='#')
                            | Read More
            .slider_slide.pattern_bg.dark_bg(data-image='img/contest/slide2.jpg')

        .item
            .slider_info
                .slider_info_in
                    .slider_info_title
                        h2.slider_title Web Agency
                    .slider_info_content
                        p
                            | Millennium - the perfect template for your project.
                            | This theme is suitable for multi-use. It is ideal for creative and web agencies, for personal portfolios and startups. Simple and stylish design attracts the attention of buyers.
                    .slider_info_more
                        a.btn.accent( href='#')
                            | Read More
            .slider_slide.pattern_bg.dark_bg(data-image='img/contest/slide1.jpg')

    img.slider_mouse(src='img/contest/mouse.svg' alt='mouse')
// End Slider Top