<!-- Start Services-->

.services.circle
    .container
        .title.wow.fadeInUp(data-wow-delay='.2s') Services
        .circle--slider.wow.fadeInUp(data-wow-delay='.2s')
            ul#circle--rotate.circle--rotate
                li.block
                    .icon
                        i.pe-7s-browser
                li.block
                    .icon
                        i.pe-7s-paint-bucket
                li.block
                    .icon
                        i.pe-7s-rocket
                li.block
                    .icon
                        i.pe-7s-graph3
                li.block
                    .icon
                        i.pe-7s-plugin
                li.block
                    .icon
                        i.pe-7s-calculator
                li.block
                    .icon
                        i.pe-7s-tools
                li.block
                    .icon
                        i.pe-7s-phone
            .animate-wrapper
                .animate
                    .animate-img
                        .animate-img_in(data-image='img/contest/services_bg1.jpg')
                            .animate-more
                                a.animate-title(href='#') Web Development
                .animate
                    .animate-img
                        .animate-img_in(data-image='img/contest/services_bg2.jpg')
                            .animate-more
                                a.animate-title(href='#') Website desing
                .animate
                    .animate-img
                        .animate-img_in(data-image='img/contest/services_bg3.jpg')
                            .animate-more
                                a.animate-title(href='#') PURE & SIMPLE
                .animate
                    .animate-img
                        .animate-img_in(data-image='img/contest/services_bg4.jpg')
                            .animate-more
                                a.animate-title(href='#') CROSS-BROWSER SUPPORT
                .animate
                    .animate-img
                        .animate-img_in(data-image='img/contest/services_bg5.jpg')
                            .animate-more
                                a.animate-title(href='#') HTML5 AND CSS3
                .animate
                    .animate-img
                        .animate-img_in(data-image='img/contest/services_bg6.jpg')
                            .animate-more
                                a.animate-title(href='#') E-commerce solutions
                .animate
                    .animate-img
                        .animate-img_in(data-image='img/contest/services_bg7.jpg')
                            .animate-more
                                a.animate-title(href='#') VALID HTML & CSS
                .animate
                    .animate-img
                        .animate-img_in(data-image='img/contest/services_bg8.jpg')
                            .animate-more
                                a.animate-title(href='#') Mobile Solutions
            .prev
                i.left
                    span
            .next
                i.right
                    span

<!-- End Services-->
