<!-- Start Portfolio-->

.contact_form
    .container
        .title.wow.fadeInUp(data-wow-delay='.2s') Contact With Us
        .subtitle Let's make something great together.
        .form_wrapp.wow.fadeInUp(data-wow-delay='.2s')
            form#contact-form
                span Hello, my name is:
                input(type='text' required name='name' placeholder='* name')
                span I work for:
                input(type='text' name='work' placeholder='company name')
                span You can reach me on my phone at:
                input(type='text' name='phone' placeholder='xxx xxx xxxx')
                span Or via email at:
                input(type='email' required name='email' placeholder='* your@email.com')
                span If I were to describe what we do, I&apos;d say:
                input(type='text' name='business' placeholder='')
                span I&apos;m interested in the following:
                input(type='text' name='message' placeholder='')
                .form_btn
                    input.btn.accen(type='submit' value='Send message')
                .form_result#success Your message has been send
                .form_result#error Error sending message








<!-- End Portfolio-->
