<!-- Start Partners-->
.partners
    .title.wow.fadeInUp(data-wow-delay='.2s') In us they trust
    .subtitle.wow.fadeInUp(data-wow-delay='.2s') We've been fortunate to work with such an interesting brands:
    .container.wow.fadeInUp(data-wow-delay='.2s')
        #slider_partners.owl-carousel.owl-theme
            .partners_logo
                a.partners_link(href='#')
                    span.icon-logo_1
                    //img(src='img/contest/logo_1.svg', alt='')
            .partners_logo
                a.partners_link(href='#')
                    span.icon-logo_2
                    //img(src='img/contest/logo_2.svg', alt='')

            .partners_logo
                a.partners_link(href='#')
                    span.icon-logo_3
                    //img(src='img/contest/logo_3.svg', alt='')
            .partners_logo
                a.partners_link(href='#')
                    span.icon-logo_4
                    //img(src='img/contest/logo_4.svg', alt='')
            .partners_logo
                a.partners_link(href='#')
                    span.icon-logo_5
                    //img(src='img/contest/logo_5.svg', alt='')
            .partners_logo
                a.partners_link(href='#')
                    span.icon-logo_6
                    //img(src='img/contest/logo_6.svg', alt='')
            .partners_logo
                a.partners_link(href='#')
                    span.icon-logo_5
                    //img(src='img/contest/logo_5.svg', alt='')
            .partners_logo
                a.partners_link(href='#')
                    span.icon-logo_6
                    //img(src='img/contest/logo_6.svg', alt='')
<!-- End Partners-->