// Start Video Top

.slider_video
    #video-slider(data-opacity-scroll='true' )
        .video_slide
        #videoBg.mb_YTPlayer.isMuted(data-property="{videoURL:'https://www.youtube.com/watch?v=CP5jfYFPG-4',containment:'.video_slide', showControls:false, autoPlay:true, loop:true, mute:true}")

        .slider_info
            .slider_info_in
                .slider_info_title
                    h2.slider_title Millennium
                .slider_info_content
                    p
                        | Millennium - the perfect template for your project.
                        | This theme is suitable for multi-use. It is ideal for creative and web agencies, for personal portfolios and startups. Simple and stylish design attracts the attention of buyers.
                .slider_info_more
                    a.btn.accent( href='#')
                        | Read More
        .slider_slide.dark_bg(data-image='img/contest/slide_video.jpg')

    img.slider_mouse(src='img/contest/mouse.svg' alt='mouse')


// End Video Top





