footer
  .footer_in
    .footer_content
      .footer_block
        .logo
          a(href='#') MILLENNIUM
        .footer_block_text
          | Lorem ipsum dolor sit amet,
          | consectetur adipisicing elit.
          | Nostrum quo praesentium
          | ullam consectetur enim.
      .footer_block
        .footer_block_title
          h4 Navigation
        .footer_block_menu
          ul.menu
            li
              a(href='#') Home
            li
              a(href='#') Services
            li
              a(href='#') Portfolio
            li
              a(href='#') Contacts
      .footer_block
        .footer_block_title
          h4 New york
        .footer_block_address
          ul
            li 13 Broad St
            li NW1 8NP, New York
            li +44(0) 00 000 000 00
            li info@example.com
      .footer_block
        .footer_block_title
          h4 Social
        .footer_block_social
          ul
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-linkedin
            li
              a(href='#')
                i.fa.fa-dribbble
            li
              a(href='#')
                i.fa.fa-vimeo
    .footer_bottom
      .footer_bottom_in
        a(href='#') Oleko
        |  &copy; 2019 All Rights Reserved &nbsp;
        a(href='#') Terms of Use
        | &nbsp; and &nbsp;
        a(href='#')
          |Privacy Policy

      .btn_back.wow.fadeInRight(data-wow-delay='.2s')
        span
