<!-- Start Portfolio-->

.portfolio_2_columns
    .container
        .portfolio_in
            .title.wow.fadeInUp(data-wow-delay='.2s') Our Portfolio
            .portfolio_box.wow.fadeInUp(data-wow-delay='.2s')
                ul.filter
                    li.filter_btn.active(data-filter='*')
                        span all
                    li.filter_btn(data-filter='.web')
                        span web
                    li.filter_btn(data-filter='.branding')
                        span branding
                    li.filter_btn(data-filter='.ux')
                        span ux
                    li.filter_btn(data-filter='.illustration')
                        span illustration
                #isotope.row
                    .portfolioBox
                        .portfolioBox_in(data-image='img/contest/portfolio_1.jpg')
                        .portfolioBox_info
                            .portfolioBox_title web
                                a.portfolioBox_btn(href='#')
                                    i.fa.fa-link
                    .portfolioBox.illustration.web
                        .portfolioBox_in(data-image='img/contest/portfolio_3.jpg')
                        .portfolioBox_info
                            .portfolioBox_title illustration web
                                a.portfolioBox_btn(href='#')
                                    i.fa.fa-link
                    .portfolioBox.branding
                        .portfolioBox_in(data-image='img/contest/portfolio_2.jpg')
                        .portfolioBox_info
                            .portfolioBox_title branding
                                a.portfolioBox_btn(href='#')
                                    i.fa.fa-link
                    .portfolioBox.branding.ux
                        .portfolioBox_in(data-image='img/contest/portfolio_4.jpg')
                        .portfolioBox_info
                            .portfolioBox_title branding ux
                                a.portfolioBox_btn(href='#')
                                    i.fa.fa-link
                    .portfolioBox.web
                        .portfolioBox_in(data-image='img/contest/portfolio_5.jpg')
                        .portfolioBox_info
                            .portfolioBox_title web
                                a.portfolioBox_btn(href='#')
                                    i.fa.fa-link
                    .portfolioBox.branding.web
                        .portfolioBox_in(data-image='img/contest/portfolio_6.jpg')
                        .portfolioBox_info
                            .portfolioBox_title branding web
                                a.portfolioBox_btn(href='#')
                                    i.fa.fa-link


<!-- End Portfolio-->
