<!-- Start Team-->

.team
    .container
        .title.wow.fadeInUp(data-wow-delay='.2s') Our Team
        .subtitle.wow.fadeInUp(data-wow-delay='.2s') Our team can deliver everything from concept to finished production, and we’re proud to have some of the best talent in the industry.
        .team_item.wow.fadeInUp(data-wow-delay='.2s')
            .team-block
                .team_img(data-image='img/contest/team_2.jpg')
                .team-block_item
                    .team_name Kate Alonso
                    .team_position Designer
                    .team_socials
                        a.team_socials--link(href='#')
                            i.fa.fa-facebook
                        a.team_socials--link(href='#')
                            i.fa.fa-firefox
                        a.team_socials--link(href='#')
                            i.fa.fa-forumbee
                        a.team_socials--link(href='#')
                            i.fa.fa-github
                        a.team_socials--link(href='#')
                            i.fa.fa-google

            .team-block
                .team_img(data-image='img/contest/team_3.jpg')
                .team-block_item
                    .team_name Jon Wilson
                    .team_position Senior Designer
                    .team_socials
                        a.team_socials--link(href='#')
                            i.fa.fa-facebook
                        a.team_socials--link(href='#')
                            i.fa.fa-firefox
                        a.team_socials--link(href='#')
                            i.fa.fa-forumbee
                        a.team_socials--link(href='#')
                            i.fa.fa-github
                        a.team_socials--link(href='#')
                            i.fa.fa-google
            .team-block
                .team_img(data-image='img/contest/team_4.jpg')
                .team-block_item
                    .team_name Roberto Alonso
                    .team_position Lead Developer
                    .team_socials
                        a.team_socials--link(href='#')
                            i.fa.fa-facebook
                        a.team_socials--link(href='#')
                            i.fa.fa-firefox
                        a.team_socials--link(href='#')
                            i.fa.fa-forumbee
                        a.team_socials--link(href='#')
                            i.fa.fa-github
                        a.team_socials--link(href='#')
                            i.fa.fa-google


            .team-block
                .team_img(data-image='img/contest/team_5.jpg')
                .team-block_item
                    .team_name Amanda Bond
                    .team_position Developer
                    .team_socials
                        a.team_socials--link(href='#')
                            i.fa.fa-facebook
                        a.team_socials--link(href='#')
                            i.fa.fa-firefox
                        a.team_socials--link(href='#')
                            i.fa.fa-forumbee
                        a.team_socials--link(href='#')
                            i.fa.fa-github
                        a.team_socials--link(href='#')
                            i.fa.fa-google

            .team-block
                .team_img(data-image='img/contest/team_6.jpg')
                .team-block_item
                    .team_name Carl Smith
                    .team_position Developer
                    .team_socials
                        a.team_socials--link(href='#')
                            i.fa.fa-facebook
                        a.team_socials--link(href='#')
                            i.fa.fa-firefox
                        a.team_socials--link(href='#')
                            i.fa.fa-forumbee
                        a.team_socials--link(href='#')
                            i.fa.fa-github
                        a.team_socials--link(href='#')
                            i.fa.fa-google

            .team-block
                .team_img(data-image='img/contest/team_1.jpg')
                .team-block_item
                    .team_name David Smith
                    .team_position Founder, Managing Director
                    .team_socials
                        a.team_socials--link(href='#')
                            i.fa.fa-facebook
                        a.team_socials--link(href='#')
                            i.fa.fa-firefox
                        a.team_socials--link(href='#')
                            i.fa.fa-forumbee
                        a.team_socials--link(href='#')
                            i.fa.fa-github
                        a.team_socials--link(href='#')
                            i.fa.fa-google


<!-- End Team-->