<!-- Start Portfolio-->

.portfolio_preview.bg_light
    .container-fluid
        .portfolio_in
            .title.wow.fadeInUp(data-wow-delay='.2s') Light Variant Pages
            .portfolio_box.wow.fadeInUp(data-wow-delay='.2s')
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_1.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Slider
                            a.portfolioBox_btn(href='index.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_2.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Video
                            a.portfolioBox_btn(href='home_video.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_3.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Burger Menu
                            a.portfolioBox_btn(href='home_burger_menu.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_4.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Services Circle
                            a.portfolioBox_btn(href='home_services_circle.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_5.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Portfolio 2 column
                            a.portfolioBox_btn(href='home_portfolio_2_col.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_6.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Portfolio 3 column
                            a.portfolioBox_btn(href='home_portfolio_3_col.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_7.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Portfolio 4 column
                            a.portfolioBox_btn(href='home_portfolio_4_col.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_8.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Contact Form 2
                            a.portfolioBox_btn(href='home_contact.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_9.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Page - Contacts
                            a.portfolioBox_btn(href='page_contacts.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_10.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Page - Portfolio
                            a.portfolioBox_btn(href='page_portfolio.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_11.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Page - Services Circle
                            a.portfolioBox_btn(href='page_services_circle.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_12.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Page - Services
                            a.portfolioBox_btn(href='page_services.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_13.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Page - Posts
                            a.portfolioBox_btn(href='page_blog.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_14.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Page - Single Page
                            a.portfolioBox_btn(href='page_page.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_15.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Page - 404
                            a.portfolioBox_btn(href='page_404.html')
                                i.fa.fa-link



            .title.wow.fadeInUp(data-wow-delay='.2s') Dark Variant Pages
            .portfolio_box.wow.fadeInUp(data-wow-delay='.2s')
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_1.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Slider
                            a.portfolioBox_btn(href='dark_index.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_2.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Video
                            a.portfolioBox_btn(href='dark_home_video.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/demo_3.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Burger Menu
                            a.portfolioBox_btn(href='dark_home_burger_menu.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/dark_demo_4.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Services Circle
                            a.portfolioBox_btn(href='dark_home_services_circle.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/dark_demo_5.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Portfolio 2 column
                            a.portfolioBox_btn(href='dark_home_portfolio_2_col.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/dark_demo_6.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Portfolio 3 column
                            a.portfolioBox_btn(href='dark_home_portfolio_3_col.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/dark_demo_7.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Portfolio 4 column
                            a.portfolioBox_btn(href='dark_home_portfolio_4_col.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/dark_demo_8.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Home - Contact Form 2
                            a.portfolioBox_btn(href='dark_home_contact.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/dark_demo_9.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Page - Contacts
                            a.portfolioBox_btn(href='dark_page_contacts.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/dark_demo_10.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Page - Portfolio
                            a.portfolioBox_btn(href='dark_page_portfolio.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/dark_demo_11.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Page - Services Circle
                            a.portfolioBox_btn(href='dark_page_services_circle.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/dark_demo_12.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Page - Services
                            a.portfolioBox_btn(href='dark_page_services.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/dark_demo_13.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Page - Posts
                            a.portfolioBox_btn(href='dark_page_blog.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/dark_demo_14.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Page - Single Page
                            a.portfolioBox_btn(href='dark_page_page.html')
                                i.fa.fa-link
                .portfolioBox
                    .portfolioBox_in(data-image='img/contest/dark_demo_15.jpg')
                    .portfolioBox_info
                        .portfolioBox_title Page - 404
                            a.portfolioBox_btn(href='dark_page_404.html')
                                i.fa.fa-link


<!-- End Portfolio-->